name: Rust Build EXE

on:
  push:
    branches: [ "main", "master" ]
  workflow_dispatch:  # 支持手动触发构建

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install Rust
      uses: dtolnay/rust-toolchain@stable
      with:
        toolchain: stable

    - name: Rust Cache
      uses: swatinem/rust-cache@v2
      with:
        workspaces: "rust_indicator -> target"

    - name: Build
      working-directory: ./rust_indicator
      # 此时 Cargo.toml 已经配置好所有 features，直接编译即可
      run: cargo build --release --verbose

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ime-indicator-exe
        path: ./rust_indicator/target/release/*.exe
