name: Rust Build EXE

on:
  push:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install Rust
      uses: dtolnay/rust-toolchain@stable

    - name: Build
      # 指定在子目录中运行
      working-directory: ./rust_indicator
      run: cargo build --release --verbose

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ime-indicator-exe
        # 路径也要指向子目录生成的 exe
        path: ./rust_indicator/target/release/*.exe
